{% extends "base.html" %}
{% load stock_tags %}
{% block title %}Purchased History{% endblock %}
{% block content %}
 
<div class="container">
    <h1 class="text-center">Purchased History</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Share</th>
                <th scope="col">Purchased Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Total Invest</th>
                <th scope="col">Latest Price</th>
                <th scope="col">Return of Investment</th>
                <th scope="col">Sell</th>
            </tr>
        </thead>
        <tbody>
            {% for p in purchased %}
            <tr>
                <td id='share'>{{ p.share }}</td>
                <td id="price">${{ p.price}}</td>
                <td>{{ p.stock.name}}</td>
                <td id="invest">${{p.invested}}</td>
                <td id="current_price">${{p.current_price}}</td>
                <td id="roi">${{p.current_price|subtract:p.invested}}</td>
               <td><a href="{% url 'sell' p.id %}" class="btn btn-danger">Sell</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>


  
{% endblock %}
