{% extends "base.html" %}
{% block title %}Sell{% endblock %}
{% block content %}
<div class="card container mt-5">
    <div class="card-header">
        <h5 class="card-title text-center">Selling Your {{stock.name}} share</h5>
        {% if error %}
        <p style="color:red; text-align:center; text-transform: capitalize">{{ error }}</p>
        <br>

        {% endif %}
    </div>
    <div class="card-body">
        <form action="{% url 'sell_done' %}" method="POST">
            {% csrf_token %}
            <label for="">Stock</label>
            <input type="text" name="s_name" id="" value="{{ stock.name}}" readonly>
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <input type="hidden" name="purchased_id" value="{% for p in purchased %}{{ p.id }}{% endfor %}">
            <label for="">Price</label>
            <input type="number" name="s_price" id="" value="{{ stock.price }}" readonly>
            <label for="">Share</label>
            <input type="number" name="share" id="" value="{% for p in purchased %}{{ p.share }}{% endfor %}">

            <input type="submit" name="" id="" class="btn btn-success">
        </form>
    </div>
</div>
{% endblock %}